:root {
    --rosa: #ec43a0;
    --preto: #000000;
    --azul: #fff;
    --azul-médio: #2f4dd1;
    --amarelo:#cfe80d;
}
/*corpo da página*/
body {
    color: var(--preto);/*cor da fonte*/
    background-color: var(--rosa);/*cor de fundo*/
    margin: 0px; /* não terá margem padrão*/
}

header {
    border: solid 2px;
    border-color: var(--branco);/*cor da borda*/
    padding: 20px;/*espaçamento interno*/
    font-size: 32px;/*tamanho da fonte*/
    color: var(--amarelo);/*cor da fonte*/
}

section {
    background-color: var(--lilas-claro);/*cor de fundo*/
    padding-bottom: 80px;/*espaçamento inferior*/
    padding-top: 80px;/*espaçamento superior*/
    display: flex;/*alterar a disposição*/
    justify-content: center;/* justificado no centro*/
}

div {
    margin-right: 20px;/*margem a direita*/
}